Pandas read method

Pandas Read CSV

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("movie.csv")
print(data)

    rank                                title  \
0     18  Spider-Man: Across the Spider-Verse
1     32                          Oppenheimer
2     77                                Joker
3     76                    Avengers: Endgame
4     37                             Parasite
..   ...                                  ...
95    99                         Citizen Kane
96    65                   The Great Dictator
97    49                         Modern Times
98    54                          City Lights
99   100                                    M

                                          description  \
0   Miles Morales catapults across the Multiverse,...
1   The story of American scientist, J. Robert Opp...
2   A mentally troubled stand-up comedian embarks ...
3   After the devastating events of Avengers: Infi...
4   Greed and class discrimination threaten the ne...
..                                                ...
95  Following the death of publishing tycoon Charl...
96  Dictator Adenoid Hynkel tries to expand his em...
97  The Tramp struggles to live in modern industri...
98  With the aid of a wealthy erratic tippler, a d...
99  When the police in a German city are unable to...

                                   genre  rating  year
0   ['Animation', 'Action', 'Adventure']     8.7  2023
1      ['Biography', 'Drama', 'History']     8.6  2023
2         ['Crime', 'Drama', 'Thriller']     8.4  2019
3       ['Action', 'Adventure', 'Drama']     8.4  2019
4                  ['Drama', 'Thriller']     8.5  2019
..                                   ...     ...   ...
95                  ['Drama', 'Mystery']     8.3  1941
96            ['Comedy', 'Drama', 'War']     8.4  1940
97        ['Comedy', 'Drama', 'Romance']     8.5  1936
98        ['Comedy', 'Drama', 'Romance']     8.5  1931
99      ['Crime', 'Mystery', 'Thriller']     8.3  1931

[100 rows x 6 columns]

Load the CSV into a DataFrame

In [3]:
print(data.to_string)

<bound method DataFrame.to_string of     rank                                title  \
0     18  Spider-Man: Across the Spider-Verse
1     32                          Oppenheimer
2     77                                Joker
3     76                    Avengers: Endgame
4     37                             Parasite
..   ...                                  ...
95    99                         Citizen Kane
96    65                   The Great Dictator
97    49                         Modern Times
98    54                          City Lights
99   100                                    M

                                          description  \
0   Miles Morales catapults across the Multiverse,...
1   The story of American scientist, J. Robert Opp...
2   A mentally troubled stand-up comedian embarks ...
3   After the devastating events of Avengers: Infi...
4   Greed and class discrimination threaten the ne...
..                                                ...
95  Following the death of publishing tycoon Charl...
96  Dictator Adenoid Hynkel tries to expand his em...
97  The Tramp struggles to live in modern industri...
98  With the aid of a wealthy erratic tippler, a d...
99  When the police in a German city are unable to...

                                   genre  rating  year
0   ['Animation', 'Action', 'Adventure']     8.7  2023
1      ['Biography', 'Drama', 'History']     8.6  2023
2         ['Crime', 'Drama', 'Thriller']     8.4  2019
3       ['Action', 'Adventure', 'Drama']     8.4  2019
4                  ['Drama', 'Thriller']     8.5  2019
..                                   ...     ...   ...
95                  ['Drama', 'Mystery']     8.3  1941
96            ['Comedy', 'Drama', 'War']     8.4  1940
97        ['Comedy', 'Drama', 'Romance']     8.5  1936
98        ['Comedy', 'Drama', 'Romance']     8.5  1931
99      ['Crime', 'Mystery', 'Thriller']     8.3  1931

[100 rows x 6 columns]>

max_rows

In [4]:
print(pd.options.display.max_rows)

60

In [5]:
pd.options.display.max_rows = 50

df = pd.read_csv('movie.csv')

print(df)

    rank                                title  \
0     18  Spider-Man: Across the Spider-Verse
1     32                          Oppenheimer
2     77                                Joker
3     76                    Avengers: Endgame
4     37                             Parasite
..   ...                                  ...
95    99                         Citizen Kane
96    65                   The Great Dictator
97    49                         Modern Times
98    54                          City Lights
99   100                                    M

                                          description  \
0   Miles Morales catapults across the Multiverse,...
1   The story of American scientist, J. Robert Opp...
2   A mentally troubled stand-up comedian embarks ...
3   After the devastating events of Avengers: Infi...
4   Greed and class discrimination threaten the ne...
..                                                ...
95  Following the death of publishing tycoon Charl...
96  Dictator Adenoid Hynkel tries to expand his em...
97  The Tramp struggles to live in modern industri...
98  With the aid of a wealthy erratic tippler, a d...
99  When the police in a German city are unable to...

                                   genre  rating  year
0   ['Animation', 'Action', 'Adventure']     8.7  2023
1      ['Biography', 'Drama', 'History']     8.6  2023
2         ['Crime', 'Drama', 'Thriller']     8.4  2019
3       ['Action', 'Adventure', 'Drama']     8.4  2019
4                  ['Drama', 'Thriller']     8.5  2019
..                                   ...     ...   ...
95                  ['Drama', 'Mystery']     8.3  1941
96            ['Comedy', 'Drama', 'War']     8.4  1940
97        ['Comedy', 'Drama', 'Romance']     8.5  1936
98        ['Comedy', 'Drama', 'Romance']     8.5  1931
99      ['Crime', 'Mystery', 'Thriller']     8.3  1931

[100 rows x 6 columns]