pandas library

In [1]:
import pandas as pd

Data frame

In [2]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

Series

In [3]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

lables

In [4]:
print(myvar[0])

1

In [5]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
print(myvar["y"])

7

keys and values

In [7]:
calories = {"day1": 420,
             "day2": 380,
               "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

DATAFRAMES

In [14]:
data = {
  "names": ["Monika", "Rajesh","Harsha"],
  "marks": [95, 90, 97]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

    names  marks
0  Monika     95
1  Rajesh     90
2  Harsha     97

Locate Row

In [15]:
#refer to the row index:
df = pd.DataFrame(data)
print(df.loc[0])

names    Monika
marks        95
Name: 0, dtype: object

In [18]:
#use a list of indexes:
print(df.loc[[0, 1]])

    names  marks
0  Monika     95
1  Rajesh     90

Named Indexes

In [2]:
import pandas as pd

data = {
  "names": ["Monika", "Rajesh","Harsha"],
  "marks": [95, 90, 97]
}
df = pd.DataFrame(data, index = ["21", "22", "25"])

print(df)

     names  marks
21  Monika     95
22  Rajesh     90
25  Harsha     97

Locate Named Indexes

In [3]:
#refer to the named index:
print(df.loc["22"])

names    Rajesh
marks        90
Name: 22, dtype: object

Load Files Into a DataFrame

In [5]:
df = pd.read_csv('movie.csv')

print(df)

    rank                                title  \
0     18  Spider-Man: Across the Spider-Verse
1     32                          Oppenheimer
2     77                                Joker
3     76                    Avengers: Endgame
4     37                             Parasite
..   ...                                  ...
95    99                         Citizen Kane
96    65                   The Great Dictator
97    49                         Modern Times
98    54                          City Lights
99   100                                    M

                                          description  \
0   Miles Morales catapults across the Multiverse,...
1   The story of American scientist, J. Robert Opp...
2   A mentally troubled stand-up comedian embarks ...
3   After the devastating events of Avengers: Infi...
4   Greed and class discrimination threaten the ne...
..                                                ...
95  Following the death of publishing tycoon Charl...
96  Dictator Adenoid Hynkel tries to expand his em...
97  The Tramp struggles to live in modern industri...
98  With the aid of a wealthy erratic tippler, a d...
99  When the police in a German city are unable to...

                                   genre  rating  year
0   ['Animation', 'Action', 'Adventure']     8.7  2023
1      ['Biography', 'Drama', 'History']     8.6  2023
2         ['Crime', 'Drama', 'Thriller']     8.4  2019
3       ['Action', 'Adventure', 'Drama']     8.4  2019
4                  ['Drama', 'Thriller']     8.5  2019
..                                   ...     ...   ...
95                  ['Drama', 'Mystery']     8.3  1941
96            ['Comedy', 'Drama', 'War']     8.4  1940
97        ['Comedy', 'Drama', 'Romance']     8.5  1936
98        ['Comedy', 'Drama', 'Romance']     8.5  1931
99      ['Crime', 'Mystery', 'Thriller']     8.3  1931

[100 rows x 6 columns]